body{
    background-color: aquamarine;
}

h1{
    text-align: center;
    color: orangered;
    font-size: 48px;
    font-style: italic;
    border: 4px dotted orangered;
    margin: 100px;
}

img{
    display: block;
    margin: 8px auto;
}

.lasagna{
    text-align: center;
}

.steak{
    text-align: center;
}

.noodles{
    text-align: center;
}

button{
    background-color: orangered;
    color: aquamarine;
    padding: 20px;
    font-size: 16px;
}